.Rproj.user
.Rhistory
.RData
/examples/Ex_1_bridging/poped_r/Example_1_Results
/examples/Ex_1_bridging/poped_r/resultI_Example_1_Results.Rdata
/examples/Ex_1_bridging/poped_matlab/AOD_test_nsteps_4_nid_20_param_2-5-5_rep_2
/inst/examples/Ex_1_bridging/old
